{% load static %}

{% block title %}

{% endblock %}

{% block content %}

<nav class="nav">   
<div class="right-sidebar container-wrapper" >

  <div class="cart-container e-commerce-container">
    <div class="cart-header e-commerce-cart-header">
      <h4>Your Cart<h4>
        <a href="#" class="cart-close-button e-commercecartcloselink w-inline-block">
          <svg  width="16px" height="16px" viewBox="0 0 16 16"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g fill-rule="nonzero" fill="#333333"><polygon points="6.23223305 8 0.616116524 13.6161165 2.38388348 15.3838835 8 9.76776695 13.6161165 15.3838835 15.3838835 13.6161165 9.76776695 8 15.3838835 2.38388348 13.6161165 0.616116524 8 6.23223305 2.38388348 0.616116524 0.616116524 2.38388348 6.23223305 8"></polygon></g></g></svg>
        </a>
    </div>
  <div class="cart-form-wrapper">
      {% if not cart_links %}
<div class="empty-state">
<div class="empty-state-title">No items found</div>
<a href="#" class="button-primary" >Browse products</a>
</div>

      {% else %}
    
<form class="cart-default-state">
  <div class="cart-list">
 {% for cart_item in cart_links%}
 
 <div class="cart-item">
<a href="cart_item.product.get_url">
  <img src="{{cart_item.product.image.url}}" style="
  width: 60px;
  height: 0%%;
">
</a>
<div class="text-detail-grapper">
<div class="cart-product-title">{{cart_item.product.name}}</div>
<div class="cart-product-price"><span class="mr-1">₵</span>{{cart_item.product.price}}</div>
<div class="option">
<div class="option-list">
  <div class="sku">Subtotal<span>:</span>
  <div class="unit" style="display:inline">{{cart_item.sub_total}}</div>
  </div>
</div>

</div>
<a href="#" class="remove-button w-inline-block">
  <div>Remove</div>
</a>
</div>

<input type="number" min="1" required="" pattern="^[1-9][0-9]?$|^100$" inputmode="numeric" value="8" max={{cart_item.product.stock}} class="input cart-quantity" />

</div>
 {% endfor %}
 
  </div>
  <div class="cart-footer w-commerce-commercecartfooter">
      <div class="cart-line-item">
          <div>Subtotal</div>
    
          <div class="cart-Subtotal">{{total}}</div>
       
      </div>

          <a href="{% url 'home' %}" class="button-primary">
Continue Checkout
          </a>
 
  </div>
</form>
{% endif %}
</div>
  </div>


</div>
</nav>
{% endblock  %}