{% extends 'base.html' %}
{% load static %}
{% block title %}
    Home
 {% endblock %}

{% block content %}

<section>
<div class="Container-Default">

<div class="Container-Inner-590px">
<div class="text-center">

<h1>Most Popular Items</h1>
<img src="{% static 'img/sale.png' %}" alt="" class="sale-icon">
</div>

</div>

<div class="container">
<div class="row">
{% for product in products %}
<div class="col-9 mx-auto col-md-6 col-lg-3">
<div class="card mb-5 " style="border-color:transparent">
<div class="p-4 ">
<a href="{{product.get_url}}">
<img src="{{product.image.url}}" class="card-img-top product-card" alt="{{product.name}}">
</a>
</div>

<div class="card-footer d-flex justify-content-between" style="background: transparents;border-color:transparent;">
<p class="font-weight-bold mb-0">
{{product.name}}

</p>
<h5 class="text-info font-italic mb-0">

<span class="mr-1">$</span>{{product.price}}
</h5>


</div>

</div>


</div>
{% endfor %}
</div>
</section>

{% endblock %}