{% load static %}
{% comment %} <nav class="Navbar1" class="Active Nav1" >

 <div class="Nav1Wrap">
<a href="#" class="Brand"><img src="" class="logo" alt="" style="
    max-width: 122%;
    height: auto;
    width: 100px;
"></a>
<div class="Nav1MenuWrap">
<div class="Nav1Menu">
<a href="#" class="NavLink">home</a>
<a href="#" data-toggle="dropdown"  class="NavLink dropdown-toggle">Categories</a>
<div class="dropdown-menu">
<a class="dropdown-item" href="{% url 'home' %}">All Products</a>
{% for category in links %}
<a class="dropdown-item" href="{{category.get_url}}">{{category.name}}</a>
{% endfor %}    
</div>
   <a href="#" class="NavLink">contact</a>
 <a href="#" class="NavLink">about</a>
 
 </div>
 </div>
 
 </div>

</nav> {% endcomment %}


<nav class="header">
<div class="Container-Default">
  <div class="header-wrapper">
    <div class="split-content header-right">
      <a href="#" class="Brand">
        <img src="{% static 'img/logoX.svg' %}" alt="logo"/>
      </a>
      <div class="nav-menu left">
        <ul class="header-navigation">
          <li class="nav-item-wrapper">
            <a href="" class="nav-link">Home</a>
          </li>
          <li class="nav-item-wrapper">
            <a href="" class="nav-link">Categories</a>
          </li>
          <li class="nav-item-wrapper">
            <a href="" class="nav-link">All products</a>
          </li>
          <li class="nav-item-wrapper">
            <a href="" class="nav-link">Contact</a>
          </li>
          <li class="nav-item-wrapper">
            <a href="" class="nav-link">About</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="split-content header-left">
<form class="search-bar-container header-search">

<input class="input search-input" placeholder="search for products" type="search">

</form>

<div class="cart-menu-wrapper">
  <a href="#" class="cart-button">
    <img src="{% static 'img/local_mall_black.svg' %}" alt="cart" class="cart-icon"/>
  </a>
  <div class="right-sidebar container-wrapper" style="opacity:1;transition:opacity 300ms 0s">

    <div class="cart-container e-commerce-container">
      <div class="cart-header e-commerce-cart-header">
        <h4>Your Cart<h4>
          <a href="#" class="cart-close-button e-commercecartcloselink w-inline-block">
            <svg data-w-id="86d01ae5-f4f5-e0fe-d623-45a4fc1f5cf1" data-wf-id="[&quot;8d6e632e-5ffe-6a0f-d812-3a75b1e2d483&quot;,&quot;86d01ae5-f4f5-e0fe-d623-45a4fc1f5cf1&quot;]" width="16px" height="16px" viewBox="0 0 16 16"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g fill-rule="nonzero" fill="#333333"><polygon points="6.23223305 8 0.616116524 13.6161165 2.38388348 15.3838835 8 9.76776695 13.6161165 15.3838835 15.3838835 13.6161165 9.76776695 8 15.3838835 2.38388348 13.6161165 0.616116524 8 6.23223305 2.38388348 0.616116524 0.616116524 2.38388348 6.23223305 8"></polygon></g></g></svg>
          </a>
      </div>
    <div class="cart-form-wrapper">
  <form class="cart-default-state">
    <div class="cart-list">
      <div class="cart-item">
        <img src="/static/img/dinning-table.jpeg" alt="chair" style="
        width: 60px;
        height: 0%;
    ">
    <div class="text-detail-grapper">
      <div class="cart-product-title">lisbo dinning-table</div>
      <div class="cart-product-price"><span class="mr-1">₵</span>300</div>
      <a href="#" class="remove-button w-inline-block">
        <div>Remove</div>
      </a>
    </div>
    <input type="text" required="" pattern="^[0-9]+$" inputmode="numeric" value="1" class="input cart-quantity"/>
      </div>
    </div>
  </form>
  </div>
    </div>
  

</div>

</div>
<div class="menu-button"></div>
    </div>

  </div>
</div>

</nav>
