{% extends 'base.html' %}
{% load static %}
{% block title %}
    Product
 {% endblock %}
{% block content %}


<div>
<div class="Container-Default ">
<div class="rail-wrapper">
<a href="#">Products</a>
<div class="rail-divider">/<div>
</div>
</div>
</div>
  <section class="section">
    {% include 'gray_stripes.html' %}
    <div class="product-container">
      <div class="product-page-grid">

        <div>
          <div class="margin-30px">
            <div class="team-animation">
              <img src="{{product.image.url}}" class="card-img-top product-card" alt="{{product.name}}">
            </div>
          </div>
        </div>

        <div class="sticky-product">
          <div class="product-content">
            <h3 class="product-Title main">{{product.name}}</h3>

            <div class="Margin-20px">
              <p class="subhead">{{product.description}}</p>
            </div>
            <div class="margin-30px">
              <div class="price-flex">
        <div class="Price-Pop"><span class="mr-1">₵</span>{{product.price}}</div>

          </div>
        </div>

<div class="margin-25px">
  {% if product.stock <= 0 %}
<div class="out_of_stock">
  <div>This product is out of stock</div>
</div>
  {% else %}
 <a > 
  <input type="submit" class="Button primary" value="Add to Cart" />
 </a>
  {% endif %}
</div>

<div class="line-divider">
    
</div>
<div>
  <div class="Button">
    <div>Back To Shop</div>
    <img class="arrow-button" src="{% static 'img/arrowE.svg' %}" alt=""/>
</div>
</div>


      </div>
    </div>
  </section>

{% endblock %} 